@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 16% 14%;
    --foreground: 210 11% 81%;
    
    --card: 222 16% 14%;
    --card-foreground: 210 11% 81%;
    
    --popover: 222 16% 14%;
    --popover-foreground: 210 11% 81%;
    
    --primary: 341 96% 54%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 217 100% 5%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    
    --accent: 213 100% 55%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 347 85% 41%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 213 100% 55%;
    
    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    
    --primary: 341 96% 54%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 213 100% 55%;
    --accent-foreground: 222 47% 11%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 213 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-ff-clan;
  }
}
